.header {
  width: 100%;
  height: var(--header-height);
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 50px rgba(var(--accent-color-rgb), 0.2);
  gap: 10px;
  padding: 0 8px;
}

.headerLogo {
  width: 36px;
  height: 36px;
}

.headerLinks {
  flex: 1;
  display: flex;
  justify-content: center;
  align-self: stretch;
}

.headerLogoName {
  font-weight: bolder;
  font-size: 1em;
  line-height: 1;
  text-transform: lowercase;
}

a.headerLink {
  text-decoration: none;
  color: #555;
  padding: 0 20px;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

a.headerLink.active {
  color: var(--accent-color);
  line-height: 14px;
}

a.headerLink.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
}

.headerLanguageSelect {
  color: var(--accent-color);
  font-weight: bold;
  text-align: center;
  padding: 6px 9px;
  font-size: 15px;
  background-color: #fff;
  border: 2px solid var(--accent-color);
  border-radius: 20px;
  transition: background 0.1s, color 0.1s;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.headerLanguageSelect:active {
  outline: 2px solid rgba(var(--accent-color-rgb), 0.5);
}

.headerLanguageSelect:focus {
  outline: 2px solid rgba(var(--accent-color-rgb), 0.5);
}

.headerLanguageSelect:hover {
  opacity: 1;
  background-color: rgba(var(--accent-color-rgb), 0.9);
  color: #fff;
}
