.mostUsedTop {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 700px;
  padding: 0 10px;
  margin: 0 auto;
}

.mostUsedTop p {
  line-height: 1.4;
}

.mostUsedTop code {
  font-size: 16px;
  padding: 3px 6px;
  border: 2px solid #aaa;
  border-radius: 6px;
  background: #eee;
}

.mostUsedTextArea {
  margin-bottom: 12px;
  /* Only allow the textarea to grow vertically */
  width: 100% !important;
  box-sizing: border-box;
  min-height: 300px;
  padding: 20px;
}

.mostUsedStems {
  width: 100%;
  margin-top: 10px;
}

.mostUsedStemsRow {
  display: grid;
  grid-template-columns: 70px 0.7fr 1fr 100px 2fr;
  gap: 20px;
  padding: 4px 0;
}

.mostUsedStemsRow:hover {
  background-color: #6a72fb14;
}

.mostUsedStemsRow.selected {
  outline: 1px solid var(--accent-color);
  border-radius: 3px;
}

.mostUsedStemsRow.selected {
  outline: 1px solid var(--accent-color);
  border-radius: 3px;
  background-color: var(--accent-color);
  color: #fff;
}

.mostUsedStartButton {
  align-self: center;
}

.mostUsedStemsCount {
  text-align: right;
}

.mostUsedButtons {
  display: flex;
  align-items: start;
  gap: 3px;
}

.mostUsedButton {
  padding: 0.1em 0.4em;
  transition: none;
}

.mostUsedStemsRow.selected .mostUsedButton {
  border: 2px solid #fff;
  background-color: var(--accent-color);
  color: #fff;
}

.mostUsedStemsRow.selected .mostUsedButton:hover {
  background-color: #fff;
  color: rgba(var(--accent-color-rgb), 0.9);
}

.mostUsedStemsHeader {
  background-color: #eee;
  color: #888;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.mostUsedStemsHeader > div {
  padding: 5px 0;
}

.mostUsedStemsHeaderRight {
  text-align: right;
}

p.mostUsedCodes {
  line-height: 2.2;
}
